# Build TypeScript and put to dist
name: Build

on:
  push:
    paths:
      - "src/"
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Git Checkout
      - uses: actions/checkout@v3

      # Node
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      # Build Typescript
      - name: Build
        run: |
          npm install
          npm install rollup
          yarn
          npm run build

      # Push new commit if applicable (for now works only on PR from same repository, not from forks)
      - name: Prepare commit
        run: sudo chown -Rc $UID .git/
      - name: Commit and push applied linter fixes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "[Build Typescript] Commit built code"
          file_pattern: "package.json dist/*"
